.container {
    margin: auto;
    padding: 20px;
}

.result-container {
    margin-top: 100px;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.form-div{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px  solid #0c0c0c;
    padding: 10px;
}

.heading{
    justify-content: center;
}

.center-heading{
    text-align: center;
}