{% extends 'core/base.html' %}

{% block body %}
<div class="container">

    <div>
      <form class="form-inline" action="" method="POST">
        {% csrf_token %}
        <div>
          <h4>Search News here:</h4>
        </div>
            <input type="text" id="keyword" name="keyword" value="{{data.keyword}}" required>
            <button type="submit">Search</button>
      </form>
    </div>

    <div class="result-container">
      {% if data %}<h2>Results</h2>   
      <a href="{% url 'refresh_search' data.keyword  %}">| Refresh</a>

      {% include 'search_result.html' %}
      
      {% endif %}
    </div>
  </div>
{% endblock %}
