{% extends 'core/base.html' %}

{% block body %}
<div class="container">
  
    <div>
      <form class="form-inline" action="/search/" method="POST">
        {% csrf_token %}
        <div>
          <h4>Search News here:</h4>
        </div>
            <input type="text" id="keyword" name="keyword" value="{{search_metadata.keyword}}" required>
            <button type="submit">Search</button>
      </form>
    </div>

    <div class="result-container">
      {% if search_metadata.keyword %}
      <div>
        <form class="" action="/get_searches/{{search_metadata.keyword}}" method="get">
          {% csrf_token %}
          <div>
            <h4>Apply Filters</h4>
          </div>
              {{articleFilter.form}}
              <button type="submit">Apply</button>
        </form>
      </div>
      {% endif %}
       
      {% if data %}<h2>Results</h2>  
      <a href="{% url 'refresh_search' search_metadata.keyword %}">| Refresh</a>
      {% include 'search_result.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
